body {
    background-image: url("pexels-pixabay-159752.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#welcomeHeading {
    color: rgb(62, 2, 2);
}

.bigConatiner {
    width: 100%;
    height: 100vh;
}

#mainHead {
    color: rgb(169, 169, 165);
    text-align: center;
}

#Homeheading {
    margin-top: 150px;
    color: white;
}

#btn {
    padding: 12px;
    width: 150px;
    background-color: crimson;
    font-weight: bold;
    color: white;
    border: 2px solid crimson;
}

#testHeading {
    color: rgb(43, 43, 43);
}

#alwaysHead {
    color: bisque
}